<div class="container col-sm-6 col-sm-offset-3">
  <div class="panel panel-default">

    <div class="panel-heading">Account</div>
    <div class="panel-body">
      <form method="post" ng-submit="updateAccount()">
        <div class="form-group">
          <label class="control-label">Profile Picture</label>
          <img class="profile-picture" ng-src="{{user.local.picture || 'http://placehold.it/100x100'}}">
        </div>
        <div class="form-group">
          <label class="control-label"><i class="ion-person"></i> Display Name</label>
          <input type="text" class="form-control" ng-model="user.local.displayName" />

        </div>
        <div class="form-group">
          <label class="control-label"><i class="ion-at"></i> Email Address</label>
          <input type="email" class="form-control" ng-model="user.local.email" />
        </div>
        <button class="btn btn-lg btn-success pull-right">Save</button>
      </form>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Work</div>
    <div class="panel-body">
      <div ng-repeat="workEntry in work.work | orderBy :'to || 2099-12-31' : reverse">
	      	<p><legend><a href="#" editable-text="workEntry.title">{{workEntry.title}}</a></legend></p>
	      	<p><a href="#" editable-text="workEntry.employerName">{{workEntry.employerName}}</a></p>

	      	<p><a href="#" editable-text="workEntry.from">{{workEntry.from}}</a>&nbsp;--&nbsp;<a href="#" editable-text="workEntry.to">{{workEntry.to || 'Present'}}</a>&nbsp;|&nbsp;<a href="#" editable-text="workEntry.location">{{workEntry.location}}</a></p>

	      	<p>&nbsp;&nbsp;--<em><a href="#" editable-textarea="workEntry.description"  e-rows="7" e-cols="40">{{workEntry.description}}</a></em></p>
	      	<div>&nbsp;</div>
      </div>
        <button class="btn btn-lg btn-success pull-right" ng-click="updateWork()">Save</button>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Accounts</div>
    <div class="panel-body">
      <legend><i class="ion-link"></i> Linked Accounts</legend>
      <div class="btn-group-vertical">
        <button class="btn btn-sm btn-danger" ng-if="user.facebook" ng-click="unlink('facebook')">
          <i class="ion-social-facebook"></i> Unlink Facebook Account
        </button>
        <button class="btn btn-sm btn-primary" ng-if="!user.facebook" ng-click="link('facebook')">
          <i class="ion-social-facebook"></i> Link Facebook Account
        </button>

        <button class="btn btn-sm btn-danger" ng-if="user.linkedin" ng-click="unlink('linkedin')">
          <i class="ion-social-linkedin"></i> Unlink LinkedIn Account
        </button>
        <button class="btn btn-sm btn-primary" ng-if="!user.linkedin" ng-click="link('linkedin')">
          <i class="ion-social-linkedin"></i> Link LinkedIn Account
        </button>
      </div>
    </div>
  </div>
</div>